.area__text {

  background-color: #343434;
  color: white;
  padding: 50px 50px;
  width: 35%;
}

.area__container {
  max-width: 300px;
  width: 100%;
}

.area {
  width: 100%;
  height: 550px;
  display: flex;
}

.img__area {
  width: 65%;
  object-fit: cover;
}

.area__text__heading {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
}

.area__text__main {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 40px;
}

.area__text__address {
  font-size: 24px;
}