.innovations {
    display: flex;
}

.innovations__content__left {
    width: 50%;
    background-color: #ba8d67;
    color: #fff;
    padding: 50px 50px;
    font-size: 20px;
}

.innovations__pic {
    width: 50%;
}

.innovations__content__heading {
  font-size: 32px;
  color: #fff;
  font-weight: 500;
}