.system {
    display: flex;
    justify-content: center;
    width: 100%;
}

.system__pic {
    width: 50%;
}

.system__content__right {
  width: 50%;
  background-color: #ba8d67;
  color: #fff;
  padding: 50px;
  font-size: 20px;
}

.system__content__text {
  color: #fff;
}

.system__content__heading {
  font-size: 32px;
  color: #fff;
  font-weight: 500;
}