.price{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  height: 100%;
}

.price__images{
  width: 100%;
  display: flex;
}

.price__pic{
  width: 33.33%;
}

.price__table{
    display: flex;
    color: white;
    width: 100%;
}

.table__heading{
    background-color: #26242b;
    color: white;
    font-size: 30px;
    padding: 50px 50px;
}

.table__body{
    background-color: #ba8d67;
    height: 100%;
    font-size: 18px;
    padding: 50px 50px;
    flex: 2;
}

.table{
    border-spacing: 40px;
}

/*.divider{*/
/*    border-bottom: 1px dashed white;*/
/*}*/

/* .row{
    border-bottom: 1px dashed white;
} */ 

