*{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
}

.page {
  background-color: #1a191e;
  position: relative;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-left: 200px;
  padding-right: 200px;
  font-family: 'Ubuntu';
}

.container{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
